A short example of how to balance an unbalanced panel data using numpy.

Numpy is important for this because it is very fast. It took less than a few seconds 

Here's a sample data you can save as a csv file named unbalanced_panel_sample.csv to run the examples below:

```
client_id,month
1,2020-01
1,2020-02
2,2020-01
2,2020-02
2,2020-03
3,2020-02
```

In [2]:
import pandas as pd
import numpy as np

# pd.options.display.float_format = '{:,.2f}'.format    # display format for dataframes

In [3]:
df = pd.read_csv('unbalanced_panel_sample.csv')
df

   client_id    month
0          1  2020-01
1          1  2020-02
2          2  2020-01
3          2  2020-02
4          2  2020-03
5          3  2020-02

In [4]:
df['month'] = pd.to_datetime(df.month, format='%Y-%m')
df

   client_id      month
0          1 2020-01-01
1          1 2020-02-01
2          2 2020-01-01
3          2 2020-02-01
4          2 2020-03-01
5          3 2020-02-01

In [5]:
unique_client_ids = df.client_id.unique()
unique_client_ids

array([1, 2, 3])

In [6]:
unique_months = df.month.unique()
unique_months

array(['2020-01-01T00:00:00.000000000', '2020-02-01T00:00:00.000000000',
       '2020-03-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [7]:
arr = np.array(np.meshgrid(unique_client_ids, unique_months)).reshape(2, -1).T

In [8]:
df_bal = pd.DataFrame(arr, columns=df.columns)
df_bal = df_bal.sort_values(['client_id', 'month'])
df_bal['month'] = pd.to_datetime(df_bal['month'])
df_bal

  client_id      month
0         1 2020-01-01
3         1 2020-02-01
6         1 2020-03-01
1         2 2020-01-01
4         2 2020-02-01
7         2 2020-03-01
2         3 2020-01-01
5         3 2020-02-01
8         3 2020-03-01

# Benchmarking np.meshgrid

Here we benchmark meshgrid under the scenario where you have a million units that you'd like balanced across a hundred time periods. After applying np.meshgrid, the balanced dataset will have a billion records. This took around 30 seconds to complete. Doing this in pandas would be orders of magnitude longer.

In [51]:
a = np.random.choice(range(10**7), 10**7, replace=False)
b = np.random.choice(range(100), 100, replace=False)

In [52]:
%%time
c = np.array(np.meshgrid(a, b)).reshape(2,-1).T
c.shape

CPU times: user 19 s, sys: 1min 11s, total: 1min 30s
Wall time: 28 s

(1000000000, 2)